

@model CRUD_MVC.Models.StudentModel;

<h2>Update Student</h2>

@if(Model == null)
{
    <p>No student found</p>
}
else{
<form method="post">

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Please enter name" asp-for="Id" readonly>
        </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Please enter name" asp-for="Name">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Please enter email" asp-for="Email">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Phone</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Please enter phone" asp-for="Phone">
    </div>

    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" id="flexCheckChecked" checked asp-for="IsActive">
        <label class="form-check-label" for="flexCheckChecked">
            Active Status
        </label>
    </div>

    <button type="submit" class="btn btn-primary mb-3">Update</button>
    <button type="submit" class="btn btn-danger mb-3" asp-action="Delete" asp-controller="Student">Delete</button>
</form>
}


